@import "common";

.profile {
  .profile-header {
    padding: 10px;
    border-bottom: 2px solid #e2e2e2;
    .profile-avatar {
      position: relative;
      display: inline-block;
      cursor: pointer;

      .profile-image {
        width: $userProfileSize;
        height: $userProfileSize;
        display: block;
      }

      .change-avatar {
        display: none;
        position: absolute;
        background: rgba(0, 0, 0, 0.81);
        bottom: 0;
        width: 100%;
        text-align: center;
      }
    }
    #avatar-file {
      display: none;
    }
    .update-avatar-btn {
      width: 100px;
      margin-top: 10px;
      margin-left: 21px;
    }
  }
  .answers {
    .question {
      margin-bottom: 10px;
      .question-header .title {
        a {
          color: inherit;
        }
        span {
          font-size: 18px;
        }
      }
    }
  }

  .question-header {
    .title {
      span {
        font-size: 22px;
      }
    }
    a.rel-topic {
      background: $sinbad;
      color: $black;
      padding: 5px;
      text-decoration: none;
      opacity: 0.7;
    }
  }

}

