@import "common";
.topic-header {
  margin-bottom: 40px;

}
.question {
  .title a {
    font-size: 22px;
  }
  .question-header {
    margin-bottom: 10px;
  }
}
.empty-questions{
  font-size: 22px;
}